<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.awadhesh22791.todoapp">

    <application
        android:name=".config.TodoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.OrderActivity"
            android:parentActivityName=".activity.ClickableImageActivity"
            android:label="Droid Restaurant"></activity>
        <activity android:name=".activity.ClickableImageActivity"
            android:label="Droid Restaurant">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ImplicitActivity"></activity>
        <activity
            android:name=".activity.SecondActivity"
            android:label="Second Activity"
            android:parentActivityName=".activity.FirstActivity" />
        <activity
            android:name=".activity.FirstActivity"
            android:label="First Activity" />
        <activity android:name=".activity.TextScrollingViewActivity" />
        <activity android:name=".activity.HelloToastActivity" />
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>